<div class="admin-title">
  <h2>Add New Post</h2>
</div>

<form class="add-post-form" action="/admin/dashboard/add-post" method="POST">

    <label for="title"><b>Title</b></label>
    <input id="title" type="text" placeholder="Give your blog a title..." name="title" required>

    <label for="body"><b>Body</b></label>
    <textarea id="body" name="body" cols="50" rows="10" required></textarea>

    <div class="actions">
        <input type="submit" value="Add" class="btn">
        <a href="/admin/dashboard">&larr; Back</a>
    </div>
</form>