<div class="author">
    <h1 class="author__heading">Hi, I am [Author]</h1>
    <p class="author__body">Software Developer.</p>
</div>

<img src="/img/hero-image.jpg" alt="2 monitors and a keyboard" class="hero-image" height="528" width="981">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>