<section class="show-content">
    <div class="show-card">
        <h1><%= post.title %></h1>
        <article class="article">
            <p><%= post.body %></p>
        </article>
    </div>
</section>
