<section class="show-content">
    <div class="show-card">
        <h1><%= post.title %></h1>
        <span class="post-author"><b>by <%= post.author.username %></b></span>
        <article class="article">
            <p><%= post.body %></p>
        </article>
    </div>
</section>
