/* Sign-in/up Pages */
.admin_form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input_field {
    width: 100%;
}

.input_field input {
    width: 100%;
    max-width: 768px;
}

.btn {
    width: 120px;
    border: 0;
    text-align: center;
}

/* Add a Post Page */
.add-post-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.add-post-form .actions {
    display: flex;
    justify-content: space-between;
}