main {
    position: relative;
}

/* Sign-in/up Pages */
.admin_form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.input_field {
    width: 100%;
}

.input_field input {
    width: 100%;
    max-width: 768px;
}

.btn {
    width: 120px;
    border: 0;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
}

/* Add/Edit Pages */
.post-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.post-form .actions {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.delete-form {
    position: absolute;
    bottom: 0;
    right: 0;
}

.delete-form .delete-btn {
    border: none;
    background-color: var(--black);
    color: var(--red);
    font-size: 3rem;
    cursor: pointer;
}