/* SHOW PAGE */

.show-content {
    width: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    color: var(--white);
}

.show-card {
    width: 90%;
    padding: 0.5rem;
}

.show-card h1 {
    text-align: center;
    font-size: var(--font-size-lg);
    color: var(--white);
}

.show-card .show-header {
    display: flex;
    flex-direction: column;
}

.show-header img {
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    max-width: 768px;
    height: auto;
}

.show-card .show-header .post-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--font-size-md);
    padding: 0.5rem 2rem;
}

.post-info i {
    background-color: var(--gray-lightest);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    padding: 1rem;
    border-radius: 50%;
}

.post-info p {
    margin: 0;
}

.show-card .show-header .show-date {
    margin: 0 auto;
}

.show-card .show-header .post-actions {
    padding: 0.5rem 0;
    margin-top: 1rem;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    display: flex;
    justify-content: space-between;
}

.post-actions div i.fa-solid.fa-heart.liked {
    color: red;
}

.post-actions div {
    display: flex;
    gap: 1.8rem;
    cursor: pointer;
}

.post-actions i {
    font-size: 1.2rem;
}

.show-card article p {
    color: var(--white);
    padding: 0.5rem;
    margin: 0;
    font-size: var(--font-size-sm);
    text-align: left;
}

@media only screen and (min-width: 425px) { 
    .show-card article p,
    .show-card .post-info {
        font-size: var(--font-size-md);
    }

    .show-card article p {
        text-align: justify;
    }
}

@media screen and (min-width: 768px) {
    .show-card .show-header .post-info {
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
    }

    .show-card .show-header .show-date {
        position: absolute;
        right: 32px;
        margin-left: 2rem;
    }

    .show-card .show-header .post-actions {
        margin: 1rem 2rem 0 2rem;
    }

    .post-actions i {
        font-size: 2rem;
    }
}