@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --white: #fff;
    --gray: #333;
    --gray-light: #777;
    --gray-lightest: #a4a4a4;
    --red: #b30000;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.7rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    font-size: var(--font-size-base);
    background-color: var(--black);
    padding: 1rem 0;
    margin: 0;
}

a {
    color: var(--white);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    display: block;
    box-sizing: border-box;
    padding: 0.7rem 0.75rem;
}

.btn {
    background-color: var(--black);
    color: var(--white);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

/* Layout */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Hero Section */
.hero-image {
    max-height: 800px;
    filter: drop-shadow(0 44px 34px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    border-radius: var(--border-radius);
}

/* Main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo button"
    "menu menu";
}

.header__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: var(--font-size-md);
    text-decoration: none;
}

.header__logo:hover {
    text-decoration: underline;
}

.header__nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__button {
    display: flex;
    justify-content: end;
    grid-area: button;
}

.header__button button {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--black);
}

.header__nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}

.header__nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a:hover {
    text-decoration: underline;
}

.header__nav ul a.active {
    color: var(--gray);
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .header {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: "logo menu button";
    }

    .header__logo,
    .header__button {
        display: flex;
        justify-content: center;
    }
}

/* Author - HomePage */
.author {
    padding: 10px 0;
    text-align: center;
}

.author__heading {
    margin-top: 10px;
    margin-bottom: 5px;
}

.author__body {
    font-size: var(--font-size-md);
}

/* Home Article List */
.article__categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
    gap: 1rem;
    max-width: 50%;
}

.article__categories .category {
    border: 1px solid var(--gray-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.article__categories .category.selected {
    background-color: var(--white);
    color: var(--gray-light);
}

.article-ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .article-ul {
        grid-template-columns: 1fr 1fr;
    }

    .article-ul li a span {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .article-ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

.article-list__date {
    font-size: var(--font-size-base);
    color: var(--gray-lightest);
    display: inline-block;
}

.article-ul li a .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details .stats {
    display: flex;
    gap: 1rem;
}

.details .stats .stat {
    display: flex;
    gap: 0.5rem;
}

.article-ul li {
    background-color: var(--gray);
    padding: 1rem;
    border-radius: var(--border-radius);
    margin: 18px 0;
    font-size: var(--font-size-md);
    transition: filter 0.1s;
}

.article-ul li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 0.5rem;
    height: 100px;
}

@media screen and (max-width: 768px) {
    .article__categories {
        max-width: 100%;
    }

    .article__categories .category {
        padding: 1rem 0;
    }
}

.article {
    white-space: pre-wrap;
}

.pagination {
    position: relative;
    padding: 2rem;
}

.pagination a {
    font-size: var(--font-size-md);
    color: var(--gray-lightest);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination a:hover {
    color: var(--white);
}

.pagination a.olderPosts {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pagination a.newerPosts {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Footer */
.footer {
    margin: 4rem 2rem 2rem 2rem;
    text-align: center;
}

/* Search Bar */

.searchBar {
    position: relative;
    display: none;
    transform: translateY(-400%);
    width: 100%;
}

.searchBar.open {
    display: flex;
    justify-content: center;
    transform: translateY(0);
    transition: transform 0.1s;
}

.searchBar .search__form {
    display: flex;
}

.search__form .search__input {
    position: relative;
    width: 100%;
}

.search__form .search__input input {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.searchBar .search__form,
.search__form #searchInput {
    width: 100%;
    max-width: 400px;
    border: none;
}

.searchBar .searchCloseBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    padding: 8px;
    background-color: var(--black);
    color: var(--white);
}

.searchBar .search__form .searchSubmitBtn {
    background-color: var(--white);
    border: none;
    border-left: 2px solid var(--black);
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    padding: 10px;
}